[Unit]
Description=Emacs Daemon

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
EnvironmentFile=/home/amccullough/dotfiles/emacs.env
Restart=always

[Install]
WantedBy=default.target
