[Unit]
Description=llama-swap proxy server
Documentation=https://github.com/mostlygeek/llama-swap
After=network-online.target
Wants=network-online.target

[Service]
User=merlin
Group=merlin
Type=simple
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/merlin/git/llama-swap/build
ExecStart=/home/merlin/git/llama-swap/build/llama-swap-linux-amd64 --config /home/merlin/abrazo/llama-swap/config.yaml --watch-config --listen 0.0.0.0:8080
ExecReload=/bin/kill -HUP $MAINPID
PrivateTmp=false
ProtectHome=false
ProtectSystem=false
ReadWritePaths=/home/merlin

# Environment variables
Environment="XDG_CACHE_HOME=/home/merlin/.cache/"
Environment="LOGNAME=merlin"

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=llama-swap

# Resource limits
LimitNOFILE=65536
LimitNPROC=4096

# Security
NoNewPrivileges=true
; PrivateTmp=true
; ProtectSystem=strict
; ProtectHome=read-only
; ReadWritePaths=/home/%i/models /home/%i/.cache/huggingface/hub /tmp

[Install]
WantedBy=multi-user.target
