# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
# 'atom-text-editor.vim-mode-plus: .insert-mode':
#  'ctrl-e': 'editor:move-to-end-of-screen-line'




'atom-workspace atom-text-editor':
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-k ctrl-l': 'unset!'

'atom-text-editor.vim-mode-plus.normal-mode':
  ':': 'ex-mode:open'

'body':
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-alt-w': 'unset!'

'atom-workspace':
  'ctrl-g': 'core:cancel'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-d': 'vim-mode-plus:scroll-half-screen-down'

'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'ctrl-k': 'emacs-plus:kill-line'
  'ctrl-d': 'core:delete'
  'ctrl-e': 'editor:move-to-end-of-screen-line'

'atom-workspace atom-text-editor.emacs-plus.mark-mode:not([mini])':
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-p': 'core:select-up'

'.advanced-open-file atom-text-editor':
  'ctrl-p': 'advanced-open-file:move-cursor-up'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-p': 'unset!'
  'ctrl-k ctrl-d': 'unset!'
  'ctrl-k ctrl-b': 'unset!'
  'ctrl-alt-p': 'nuclide-quick-open:find-anything-via-omni-search'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-d': 'unset!'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
