packages: [
  "advanced-open-file"
  "atom-clock"
  "atom-ctags"
  "atom-fuzzy-grep"
  "clipboard-plus"
  "cursor-history"
  "easy-motion-redux"
  "emacs-plus"
  "emacs-tab"
  "ex-mode"
  "ex-mode-sort"
  "file-icons"
  "git-status"
  "highlight-selected"
  "language-babel"
  "language-graphql"
  "language-haskell"
  "language-ini"
  "language-kotlin"
  "language-lua"
  "language-ocaml"
  "language-rust"
  "language-scala"
  "language-swift"
  "language-thrift"
  "narrow"
  "narrow-git-ls"
  "nuclide"
  "nuclide-format-js"
  "org-mode"
  "package-sync"
  "recent-finder"
  "set-syntax"
  "sort-lines"
  "spacemacs-dark-syntax"
  "spacemacs-evil-keys"
  "tool-bar"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-plus-replace-with-execution"
  "vim-modeline"
  "which-key"
]
